

.subscribe {
  background-color: #d63232;
  color: white;
  border: none;
  height: 36px;
  width: 105px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 10px;
  transition: opacity 0.15s;
}

.subscribe:hover {
  opacity: 0.8;
}

.subscribe:active {
  opacity: 0.5;
}

.join {
  background-color: white;
  border-color: #065fd4;
  border-style: solid;
  border-width: 1px;
  color: #065fd4;
  height: 36px;
  width: 62px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color  1s;, 
  color: 1s;
}

.join:hover {
  background-color: #065fd4;
  color: white;
}

.join:active {
  opacity: 0.5;
}

.tweet {
  background-color: #1d9bf0;
  color: white;
  border-radius: 18px;
  border: none;
  height: 36px;
  width: 70px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
